@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
.flag {
  position: absolute;
  top: 90%;
  margin-top: 5px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: #2e2e2e;
  width: 120px;
  height: 50px;
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}
.flag:hover {
  width: 400px;
  color: transparent;
}
.flag:hover .attribution {
  width: 400px;
  opacity: 1;
}

.attribution {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 0;
  font-size: 16px;
  text-align: center;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  font-family: sans-serif;
  color: #fff;
  text-decoration: none;
}
.attribution a {
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background-color: hsl(257deg, 40%, 49%);
  background-image: url("../images/bg-desktop.svg");
  background-repeat: no-repeat;
}

.huddlecon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 4rem;
}
.huddlecon__logo {
  position: absolute;
  top: 5%;
  left: 0;
  transform: scale(0.8);
}

.huddle {
  display: flex;
}
.huddle__image {
  transform: scale(0.8);
}

.details {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.details__title {
  margin: 1.2rem;
  color: #fff;
  font-weight: 600;
  font-family: poppins;
  font-size: 2.2rem;
  max-width: 25rem;
}
.details__paragraph {
  margin: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  line-height: 2rem;
  max-width: 45rem;
}
.details__button {
  margin: 1.2rem;
  padding: 1rem;
  background: #fff;
  color: hsl(257deg, 40%, 49%);
  border-radius: 2rem;
  border: none;
  max-width: 200px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
.details__button:hover {
  color: #fff;
  background: hsl(300deg, 69%, 71%);
  cursor: pointer;
}

.icons {
  position: absolute;
  right: 0;
  bottom: 5%;
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons__span {
  border-radius: 50%;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.icons__span:hover {
  color: hsl(300deg, 69%, 71%);
  cursor: pointer;
  border: 1px solid hsl(300deg, 69%, 71%);
}

@media screen and (max-width: 1200px) {
  .huddlecon {
    height: 100%;
    margin: 10px;
  }
  .huddle {
    flex-direction: column;
    margin-top: 8rem;
  }
  .huddle__image {
    width: 80%;
    margin: auto;
  }
  .details {
    margin: 0 1rem;
  }
  .icons {
    right: 5%;
  }
}
@media screen and (max-width: 570px) {
  .huddlecon {
    height: 100%;
    margin: 10px;
  }
  .huddlecon__logo {
    width: 60%;
  }
  .huddle {
    flex-direction: column;
    margin-top: 8rem;
    align-items: center;
  }
  .huddle__image {
    width: 80%;
    margin: auto;
  }
  .details {
    margin: 0 1rem;
    padding: 1rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
  }
  .details__title {
    text-align: center;
    max-width: 40rem;
  }
  .details__paragraph {
    text-align: center;
  }
  .details__button {
    min-width: 200px;
  }
  .icons {
    position: absolute;
    right: 50%;
    bottom: 2%;
    transform: translate(50%);
    font-size: 1rem;
  }
  .icons__span {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 400px) {
  .huddlecon {
    height: 100%;
    margin: 10px;
  }
  .huddlecon__logo {
    width: 60%;
  }
  .huddle {
    flex-direction: column;
    margin-top: 8rem;
  }
  .huddle__image {
    width: 80%;
    margin: auto;
  }
  .details {
    margin: 0 1rem;
    padding: 1rem;
    margin-bottom: 4rem;
  }
  .details__title {
    text-align: center;
  }
  .details__paragraph {
    text-align: center;
  }
  .icons {
    position: absolute;
    right: 50%;
    bottom: 2%;
    transform: translate(50%);
    font-size: 1rem;
  }
  .icons__span {
    width: 30px;
    height: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
